<footer>
    <!-- First child -->
    <div class="project-info">

        <img src="#" alt="#">

        <div class="footer-credit">
            <p>Created by:</p>
            <ul>
                <li>Ammar Hadid</li>
                <li>Senna</li>
            </ul>
        </div>
    </div>

    <!-- Second child -->
     <div class="footer-over-het-land">
        <p>Over het land</p>
        <ul>
            <li>Schoolsysteem</li>
            <li>Religies</li>
            <li>Maatschappelijke problemen</li>
            <li>Oppervlakte</li>
            <li>Bevolking</li>
        </ul>
     </div>

    <!-- Third child -->
     <div class="projectinformatie">
        <p>Projectinformatie</p>
        <ul>
            <li>Doelstelling project</li>
            <li>Overzicht van goede doelen</li>
            <li>Gekozen goede doel & motivatie</li>
            <li>Begroting & financiering</li>
        </ul>
     </div>

    <!-- Third child -->
     <div class="formulieren-afronding">

        <!-- Formulieren block -->
        <div class="formulieren">
            <p>Formulieren</p>
            <ul>
                <li>Meewerken</li>
                <li>Doneren</li>
            </ul>
        </div>

        <!-- Afronding block -->
        <div class="afronding">
            <p>Afronding</p>
            <ul>
                <li>Verslag & reflectie</li>
                <li>Bronvermelding</li>
            </ul>
        </div>

     </div>

</footer>