    <div class="footer-content">
        <!-- First child -->
        <div class="project-info">

            <img src="/assets/images/turkey-flag.png" alt="Turkey flag wavering">

            <div class="footer-credit">
                <p class="footer-subheading">Gemaakt door:</p>
                <ul>
                    <li>Ammar Hadid</li>
                    <li>Senna</li>
                </ul>
            </div>
        </div>

        <!-- Second child -->
        <div class="footer-over-het-land">
            <p class="footer-subheading">Over het land</p>
            <ul>
                <li><a href="#">Schoolsysteem</a></li>
                <li><a href="#">Religies</a></li>
                <li><a href="#">Maatschappelijke problemen</a></li>
                <li><a href="#">Oppervlakte</a></li>
                <li><a href="#">Bevolking</a></li>
            </ul>
        </div>

        <!-- Third child -->
        <div class="projectinformatie">
            <p class="footer-subheading">Projectinformatie</p>
            <ul>
                <li><a href="#">Doelstelling project</a></li>
                <li><a href="#">Overzicht van goede doelen</a></li>
                <li><a href="#">Gekozen goede doel & motivatie</a></li>
                <li><a href="#">Begroting & financiering</a></li>
            </ul>
        </div>

        <!-- Third child -->
        <div class="formulieren-afronding">

            <!-- Formulieren block -->
            <div class="formulieren">
                <p class="footer-subheading">Formulieren</p>
                <ul>
                    <li><a href="#">Meewerken</a></li>
                    <li><a href="#">Doneren</a></li>
                </ul>
            </div>

            <!-- Afronding block -->
            <div class="afronding">
                <p class="footer-subheading">Afronding</p>
                <ul>
                    <li><a href="#">Verslag & reflectie</a></li>
                    <li><a href="#">Bronvermelding</a></li>
                </ul>
            </div>

        </div>
    </div>

    <p class="copyright-message">© 2025. Alle rechten voorbehouden.</p>
