<ul>
    <li><a href="home.html">Home</a></li>

    <li class="dropdown">
        <a href="over-het-land.html">Over Het Land ▾</a>
        <div class="dropdown-content">
            <a href="schoolsysteem.html">Schoolsysteem</a>
            <a href="religies.html">Religies</a>
            <a href="maatschappelijke-problemen.html">Maatschappelijke problemen</a>
            <a href="oppervlakte.html">Oppervlakte</a>
            <a href="bevolking.html">Bevolking</a>
        </div>
    </li>

    <li class="dropdown">
        <a href="projectinformatie.html">Projectinformatie ▾</a>
        <div class="dropdown-content">
            <a href="doelstelling-project.html">Doelstelling Project</a>
            <a href="overzicht-goede-doelen.html">Overzicht van goede doelen</a>
            <a href="gekozen-goede-doel.html">Gekozen goede doel & motivatie</a>
            <a href="begroting-financiering.html">Begroting & Financiering</a>
        </div>
    </li>

    <li class="dropdown">
        <a href="formulieren.html">Formulieren ▾</a>
        <div class="dropdown-content">
            <a href="meewerken.html">Meewerken</a>
            <a href="doneren.html">Doneren</a>
        </div>
    </li>

    <li class="dropdown">
        <a href="afronding.html">Afronding ▾</a>
        <div class="dropdown-content">
            <a href="verslag-reflectie.html">Verslag & reflectie</a>
            <a href="bronvermelding.html">Bronvermelding</a>
        </div>
    </li>
</ul>