<nav>
    <ul>
    <li><a href="/index.html">Home</a></li>

        <li class="dropdown">
            <p>Over Het Land ▾</p>
            <div class="dropdown-content">
                <a href="schoolsysteem.html">Schoolsysteem</a>
                <a href="/pages/over-het-land/religies.html">Religies</a>
                <a href="maatschappelijke-problemen.html">Maatschappelijke problemen</a>
                <a href="/pages/over-het-land/oppervlakte.html">Oppervlakte</a>
                <a href="/pages/over-het-land/bevolking.html">Bevolking</a>
            </div>
        </li>

        <li class="dropdown">
        <p>Projectinformatie ▾</p>
        <div class="dropdown-content">
            <a href="/pages/projectinformatie/doelstellingen.html">Doelstelling Project</a>
            <a href="/pages/projectinformatie/overzicht-goede-doelen.html">Overzicht van goede doelen</a>
            <a href="gekozen-goede-doel.html">Gekozen goede doel & motivatie</a>
            <a href="begroting-financiering.html">Begroting & Financiering</a>
            </div>
        </li>

        <li class="dropdown">
            <p>Formulieren ▾</p>
            <div class="dropdown-content">
                <a href="meewerken.html">Meewerken</a>
                <a href="/pages/formulieren/doneren.html">Doneren</a>
            </div>
        </li>

        <li class="dropdown">
            <p>Afronding ▾</p>
            <div class="dropdown-content">
                <a href="/pages/afronding/verslag.html">Verslag & reflectie</a>
                <a href="/pages/afronding/bronvermelding.html">Bronvermelding</a>
            </div>
        </li>
    </ul>
</nav>

<!-- Theme toggle button -->
<div class="theme-toggle-wrapper">
    <i class="fa-solid fa-sun"></i>
    <label id="theme-toggle-label">
        <input type="checkbox" id="user-theme">
    </label>
    <i class="fa-solid fa-moon"></i>
</div>